@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

button {
    cursor: pointer;
}

.titulo-page {
    background-color: #015B40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-top: 10px;
}

.titulo-page h1 {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
    padding: 20px;
}

.form {
    justify-content: center;
    align-items: center;
}

/* FILTROS */
.filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F6F6F6;
    width: 22%;
    height: 680px;
    padding: 20px;
    border-radius: 8px;
}

.text-filtro {
    margin-bottom: 30px;
    color: #015B40;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.h3 {
    color: #015B40;
    margin-left: 10px;
    font-size: 16px;

}

.memberName {
    color: #015B40;

}

.filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    border-radius: 20px;
    border: 1px;
    width: 300px;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 10px 15px;
    height: 45px;
    background-color:#E7E7E7;
    font-size: 14px;
    display: flex;
}

.input.initial {
    color: gray !important;
}

.input.selected {
    color: black !important;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-filtro {
    margin-top: 25px;
    width: 50%;
    margin-inline: 20%;
    padding: 10px 15px;;
    background-color: #015B40;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
}

.button-filtro:hover {
    background-color: #037955;
}

select {
    /* Define a aparência do select para que a seta de seleção seja invisível */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Adiciona uma imagem de fundo personalizada para a seta */
    background-image: url('../assets/chevron-down\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    /* padding-left: 5px; */
}

/* PÁGINA PRINCIPAL */
.result-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.result-filtros {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titulo-resutado {
    margin-bottom: 20px;
    color: #015B40;
}

.card-result {
    display: flex;
    /* flex-direction: column; */
    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 25px;
    transition: background-color 0.3s ease;
    background-color: #fff;
}

.card-result:hover {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background-color: #E7E7E7;
    cursor: pointer;
}

.img-result {
    margin-right: 10px;
}

.img-result img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.text-result-membro {
    flex-grow: 1;
}

.text-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #015B40;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.edit-icon:hover {
    background-color: #037955;
}

.telefone-membro {
    display: flex;
    align-items: center;
    color: #555;
    font-size: 0.9em;
}

.telefone-membro h5{
    font-weight: 300;
}

.input.initial {
    color: gray !important;
}

.input.selected {
    color: black !important;
}

@media screen and (max-width: 1600px) {
    .filter-section {
        width: 25.33%;
    }
}
