@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1; /*ocupar todo espaço entre header e footer*/
    flex-wrap: wrap;
    margin-top: 15px;
}

.banner {
    display: flex;
    background-image: url('../assets/BannerSocCadastrada.png');
    background-size: cover;
    margin-top: 10px;
    width: 100%;
    height: 18rem;
    align-items: center;
    color: white;
    justify-content: center;
    gap: 21rem;
}

.banner-div-img {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    margin-left: 90px;
}

.banner-div-texto {
    justify-content: start;
    align-items: center;
}

.image-esq {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.banner h1 {
    text-align: center;
    width: 450px;
}

.pesquisa-div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.busca-div {
    display: flex;
    background-color: #E7E7E7;
    align-items: center;
    width: 45%;
    color: #015B40;
    height: 35px;
    justify-content: space-between;
    border-radius: 15px;
    padding: 3px;
}

.busca-div input {
    border: none;
    color: #000000;
    background-color: #E7E7E7;
    width: 100%;
    margin-left: 12px;
}

.busca-div ion-icon {
    margin-right: 12px;
}

.search-btn {
    border: 0 !important;
    background: none;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-add {
    border: none;
    cursor: pointer;
    width: 105px;
    height: 38px;
    border-radius: 14px;
    background-color: #015B40;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-add:hover {
    background-color: #037955;
}

.div-membros-resultado {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

.div-membros-resultado h2 {
    color: #015B40;
    margin-bottom: 25px;
}

.membros-cadastrados {
    display: flex;
    background-color: #F6F6F6;
    height: 125px;
    border-radius: 20px;
    gap: 40px;
    margin-bottom: 20px;
}

.img-result {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

input:focus {
    outline: none;
}

.text-result-membro {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 5px; */
    color: #818181;
}

.text-icon {
    display: flex;
    justify-content: space-between;
}

.remove-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #CD201F;
    color: white;
    width: 35px;
    height: 24px;
    border-radius: 8px;
    margin-right: 14px;
    transition: background-color 0.3s ease;
}

.idade-membro {
    display: flex;
    gap: 6px;
}

.campo-foto-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-foto-card {
    width: 100px;
    height: 100px;
}

.delete {
    width: 35px;
    height: 40px;
    cursor: pointer;
    margin: 15px;
    border-radius: 30%;
    border: none;
    background-color: #E7E7E7;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.delete:hover {
    background-color: #d71b2bf1;
    color: white;
}

/* Responsivo */
@media screen and (max-width: 1600px) {
    .pesquisa-div {
        margin-top: 30px;
    }

    .div-membros-resultado {
        margin-top: 40px;
    }

    .div-membros-resultado h2 {
        margin-bottom: 30px;
    }
}

/* Estilos para a modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 50%;
    height: auto;
    margin: 5% auto;
    padding: 20px;
}

.modal-content h2 {
    color: #015B40;
    justify-content: center;
    align-self: center;
    padding-bottom: 10px;
    border-bottom: #015B40;
}

.resultadosBusca {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.card-result {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    background-color: #fff;
}

.card-result:hover {
    background-color: #E7E7E7;
    cursor: pointer;
}

.icons-card-result {
    display: flex;
    gap: 15px;
}

.img-result {
    margin-right: 10px;
}

.img-result img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.text-result-membro {
    flex-grow: 1;
}

.text-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-add-membro {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #015B40;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 28px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-add-membro:hover {
    background-color: #037955;
}

.memberName {
    color: #015B40;
    font-weight: 500;
}

.idade-membro {
    display: flex;
    align-items: center;
    color: #555;
    font-size: 0.9em;
    
}

.idade-membro div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    
}

.idade-membro h5 {
    font-weight: 300;
    margin: 0 10px 0 0;
}

.input.initial {
    color: gray !important;
}

.input.selected {
    color: black !important;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

.close:hover,
.close:focus {
    color: rgb(93, 93, 93);
    text-decoration: none;
    cursor: pointer;
}
