footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #015B40;
    margin-top: 30px;
}

.logo-footer img{
    position:relative;
    left: 55px;
    height: 292px;
    width: 310px;
}


.social-footer {
    height: 292px;
    width: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    color: white;
}

.nav-links-footer {
    height: 292px;
    width: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.nav-links-footer li a{
    color: white;
    font-weight: 700;
    font-size: 23px;
    text-align: right;
}
.nav-footer{
    display: flex;
    justify-content: center;
    align-self: center;
}

.icons-social ion-icon{
    color: white;
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}