<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Membros</title>
    <link rel="stylesheet" href="../styles/CadastroMembro.css">
    <link rel="stylesheet" href="../styles/Header.css">
    <link rel="stylesheet" href="../styles/Footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
    <header>
        <a href="/home"><img class="logo-ipb" src="../assets/ipj.png" alt="IPB logo"></a>
        <nav class="nav-header">
            <a href="/home">Home</a>
            <a href="/cadastro" class="active">Cadastro</a>
            <a href="/membros">Membros</a>
            <a href="/relatorios">Relatórios</a>
            <a href="/sociedade-interna">Sociedades Internas</a>
            <a href="/" class="icon-link"><ion-icon name="exit-outline"></a>
        </nav>
    </header>
    <div class="titulo-page">
        <h1>Cadastro de Membros</h1>
    </div>

    <main>
        <form id="cadastroMembroForm" class="form" enctype="multipart/form-data">
            <div class="div1">
                <div class="section1">
                    <div class="wrap">
                        <label for="nome">Nome completo</label>
                        <input type="text" id="nome" name="nome" class="input" pattern="[A-Za-zÀ-ú\s]+" style="width: 400px;" required>
                    </div>

                    <div class="wrap">
                        <label for="comungante">Comungante?</label>
                        <select name="comungante" id="comungante" class="input" required>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <label for="dataNascimento">Data de Nascimento</label>
                        <input type="date" id="dataNascimento" name="dataNascimento" class="input" style="width: 160px;" required>
                    </div>

                    <div class="wrap">
                        <div class="labels">
                            <label for="localNascimento">Local de Nascimento</label>
                        </div>
                        <div class="inputs">
                            <input type="text" id="localNascimento" name="localNascimento" class="input" pattern="[A-Za-zÀ-ú\s]+" required>
                            <select name="estadoNascimento" id="estadoNascimento" class="input" style="width: 65px;" required>
                                <option value="" disabled selected>UF</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>

                    </div>

                    <div class="wrap">
                        <label for="numeroDeRol">Numero de Rol</label>
                        <input type="number" id="numeroDeRol" name="numeroDeRol" class="input" style="width: 150px;" required>
                    </div>

                    <div class="wrap">
                        <label for="nomePai">Nome do Pai</label>
                        <input type="text" id="nomePai" name="nomePai" class="input" style="width: 400px;" pattern="[A-Za-zÀ-ú\s]+" required>
                    </div>

                    <div class="wrap">
                        <label for="nomeMae">Nome da Mãe</label>
                        <input type="text" id="nomeMae" name="nomeMae" class="input" style="width: 400px;" pattern="[A-Za-zÀ-ú\s]+" required>
                    </div>

                    <div class="wrap">
                        <label for="sexo">Sexo</label>
                        <select name="sexo" id="sexo" class="input" style="width: 230px;" required>
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="m">Masculino</option>
                            <option value="f">Feminino</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <label for="escolaridade">Escolaridade</label>
                        <select name="escolaridade" id="escolaridade" class="input" style="width: 300px;">
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="Analfabeto">Analfabeto</option>
                            <option value="Alfabetizado">Alfabetizado</option>
                            <option value="Ensino Fundamental Incompleto">Ensino Fundamental Incompleto</option>
                            <option value="Ensino Fundamental Completo">Ensino Fundamental Completo</option>
                            <option value="Ensino Médio Incompleto">Ensino Médio Incompleto</option>
                            <option value="Ensino Médio Completo">Ensino Médio Completo</option>
                            <option value="Ensino Superior Incompleto">Ensino Superior Incompleto</option>
                            <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                            <option value="Pós-Graduação">Pós-Graduação</option>
                            <option value="Mestrado">Mestrado</option>
                            <option value="Doutorado">Doutorado</option>
                            <option value="Pós-Doutorado">Pós-Doutorado</option>
                            <option value="Livre Docência">Livre Docência</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <label for="profissao">Profissão</label>
                        <input type="text" id="profissao" name="profissao" class="input" style="width: 300px;" pattern="[A-Za-zÀ-ú\s]+">
                    </div>
                </div>
                <div class="select-photo" id="select-photo">
                    <input type="file" id="fotoMembro" name="fotoMembro" style="display: none;" accept="image/*" tabindex="-1" autocomplete="off">
                    <label for="fotoMembro">
                        <div class="icon-container">
                            <div class="photo">
                                <img src="../assets/Insira sua foto.png" class="image-icon" alt="Image icon">
                            </div>
                            <img src="../assets/camera.svg" class="camera-icon" alt="Camera icon">
                        </div>
                    </label>
                </div>
            </div>

            <div class="div2">
                <div class="section3">
                    <div class="wrap">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" name="email" class="input" style="width: 400px;">
                    </div>

                    <div class="wrap">
                        <label for="telefone">Telefone</label>
                        <input type="tel" id="telefone" name="telefone" style="width: 170px;" class="input">
                    </div>

                    <div class="wrap">
                        <label for="celular">Celular</label>
                        <input type="tel" id="celular" name="celular" style="width: 170px;" class="input" required>
                    </div>

                    <div class="wrap">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" name="cep" class="input" style="width: 150px;" required>
                    </div>

                    <div class="wrap">
                        <label for="endereco">Endereço</label>
                        <input type="text" id="endereco" name="endereco" class="input" style="width: 400px;" required>
                    </div>

                    <div class="wrap">
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" name="bairro" class="input" style="width: 300px;" pattern="[A-Za-zÀ-ú\s]+" required>
                    </div>

                    <div class="wrap">
                        <label for="complemento">Complemento</label>
                        <input type="text" id="complemento" name="complemento" class="input" style="width: 300px;">
                    </div>

                    <div class="wrap">
                        <div class="labels">
                            <label for="cidade">Cidade e Estado atual</label>
                        </div>
                        <div class="inputs">
                            <input type="text" id="cidade" name="cidade" class="input" pattern="[A-Za-zÀ-ú\s]+" required>
                            <select name="estado" id="estado" class="input" style="width: 65px;" required>
                                <option value="" disabled selected>UF</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>

                    </div>

                    <div class="wrap">
                        <label for="localResidencia">Local Residência</label>
                        <select name="localResidencia" id="localResidencia" class="input" style="width: 100px;" required>
                            <option value="sede">SEDE</option>
                            <option value="fora">FORA</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <label for="estadoCivil">Estado Civil</label>
                        <select name="estadoCivil" id="estadoCivil" class="input" style="width: 250px;">
                            <option value="" disabled selected>Selecione uma opção</option>
                            <option value="Solteiro(a)">Solteiro(a)</option>
                            <option value="Casado(a)">Casado(a)</option>
                            <option value="Víuvo(a)">Víuvo(a)</option>
                            <option value="Divorciado(a)">Divorciado(a)</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>

                    <div class="wrap">
                        <label for="religiaoPrecedente">Religião Precedente</label>
                        <select name="religiaoPrecedente" id="religiaoPrecedente" class="input" style="width: 300px;">
                            <option value="" disabled selected>Nenhum</option>
                            <option value="Reformada">Reformada</option>
                            <option value="Pentecostal">Pentecostal</option>
                            <option value="Neo-Pentecostal">Neo-Pentecostal</option>
                            <option value="Católica Romana">Católica Romana</option>
                            <option value="Espiritismos e Assemelhados">Espiritismos e Assemelhados</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="div3">
                <div class="section4">
                    <div>
                        <h2>Batismo: </h2>
                        <h2 class="tittle">Profissão de Fé: </h2>
                        <h2 class="tittle">Admissão: </h2>
                        <h2>Demissão: </h2>
                    </div>
                </div>
                <div class="section5">
                    <div class="wrap">
                        <label for="dataBatismo">Data</label>
                        <input type="date" id="dataBatismo" name="dataBatismo" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="oficianteBatismo">Oficiante</label>
                        <input type="text" id="oficianteBatismo" name="oficianteBatismo" class="input" style="width: 500px;">
                    </div>
                    <div class="wrap">
                        <label for="dataProfissaoFe">Data</label>
                        <input type="date" id="dataProfissaoFe" name="dataProfissaoFe" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="oficianteProfissaoFe">Oficiante</label>
                        <input type="text" id="oficianteProfissaoFe" name="oficianteProfissaoFe" class="input" style="width: 500px;">
                    </div>
                    <div class="wrap">
                        <label for="dataAdmissao">Data</label>
                        <input type="date" id="dataAdmissao" name="dataAdmissao" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="formaAdmissao">Forma</label>
                        <select name="formaAdmissao" id="formaAdmissao" class="input" style="width: 300px;">
                            <option value="" disabled selected>Nenhum</option>
                            <option value="Transferência">Transferência</option>
                            <option value="Batismo">Batismo</option>
                            <option value="Profissão de Fé">Profissão de Fé</option>
                            <option value="Batismo e Profissão de Fé">Batismo e Profissão de Fé</option>
                            <option value="Jurisdição a pedido">Jurisdição a pedido</option>
                            <option value="Jurisdição ex-officio">Jurisdição ex-officio</option>
                            <option value="Restauração">Restauração</option>
                            <option value="Designação do Presbitério">Designação do Presbitério</option>
                        </select>
                    </div>
                    <div class="wrap">
                        <label for="ataAdmissao">Ata</label>
                        <input type="number" id="ataAdmissao" name="ataAdmissao" class="input" style="width: 150px;">
                    </div>
                    <div class="wrap">
                        <label for="dataDemissao">Data</label>
                        <input type="date" id="dataDemissao" name="dataDemissao" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="formaDemissao">Forma</label>
                        <select name="formaDemissao" id="formaDemissao" class="input" style="width: 300px;">
                            <option value="" disabled selected>Nenhum</option>
                            <option value="Transferência">Transferência</option>
                            <option value="Batismo">Batismo</option>
                            <option value="Profissão de Fé">Profissão de Fé</option>
                            <option value="Jurisdição a pedido">Jurisdição a pedido</option>
                            <option value="Jurisdição ex-officio">Jurisdição ex-officio</option>
                            <option value="Restauração">Restauração</option>
                            <option value="Designação do Presbitério">Designação do Presbitério</option>
                        </select>
                    </div>
                    <div class="wrap">
                        <label for="ataDemissao">Ata</label>
                        <input type="number" id="ataDemissao" name="ataDemissao" class="input" style="width: 150px;">
                    </div>
                </div>
                <div class="section6">
                    <div class="wrap">
                        <label for="dataEleicaoDiacono">Eleição de Diácono</label>
                        <input type="date" id="dataEleicaoDiacono" name="dataEleicaoDiacono" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="dataReeleicaoDiacono1">Reeleito em</label>
                        <input type="date" id="dataReeleicaoDiacono1" name="dataReeleicaoDiacono1" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="dataReeleicaoDiacono2">Reeleito em</label>
                        <input type="date" id="dataReeleicaoDiacono2" name="dataReeleicaoDiacono2" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="dataReeleicaoDiacono3">Reeleito em</label>
                        <input type="date" id="dataReeleicaoDiacono3" name="dataReeleicaoDiacono3" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="dataReeleicaoDiacono4">Reeleito em</label>
                        <input type="date" id="dataReeleicaoDiacono4" name="dataReeleicaoDiacono4" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="dataEleicaoPresbitero">Eleição de Presbítero</label>
                        <input type="date" id="dataEleicaoPresbitero" name="dataEleicaoPresbitero" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="dataReeleicaoPresbitero1">Reeleito em</label>
                        <input type="date" id="dataReeleicaoPresbitero1" name="dataReeleicaoPresbitero1" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="dataReeleicaoPresbitero2">Reeleito em</label>
                        <input type="date" id="dataReeleicaoPresbitero2" name="dataReeleicaoPresbitero2" class="input" style="width: 160px;">
                    </div>
                    <div class="wrap">
                        <label for="dataReeleicaoPresbitero3">Reeleito em</label>
                        <input type="date" id="dataReeleicaoPresbitero3" name="dataReeleicaoPresbitero3" class="input" style="width: 160px;">
                    </div>
                </div>
            </div>
            <div class="div4">
                <div class="section-center">

                    <h2 style="margin-right: 65px;">Rol separado: </h2>

                    <div class="wrap">
                        <label for="dataRolSeparado">Data</label>
                        <input type="date" id="dataRolSeparado" name="dataRolSeparado" class="input" style="width: 160px;">
                    </div>

                    <div class="wrap">
                        <label for="ataRolSeparado">Ata</label>
                        <input type="number" id="ataRolSeparado" name="ataRolSeparado" class="input" style="width: 160px;">
                    </div>

                    <div class="wrap">
                        <label for="dataCasamento">Casamento</label>
                        <input type="date" id="dataCasamento" name="dataCasamento" class="input" style="width: 160px;">
                    </div>

                    <div class="wrap">
                        <label for="disciplina">Disciplina</label>
                        <input type="text" id="disciplina" name="disciplina" class="input" style="width: 160px;">
                    </div>

                    <div class="wrap">
                        <label for="dataDisciplina">Data da Disciplina</label>
                        <input type="date" id="dataDisciplina" name="dataDisciplina" class="input" style="width: 160px;">
                    </div>

                    <div class="wrap">
                        <label for="ataDisciplina">Ata da Disciplina</label>
                        <input type="number" id="ataDisciplina" name="ataDisciplina" class="input" style="width: 160px;">
                    </div>
                </div>
            </div>
            <button class="button-save" type="submit">Salvar</button>
        </form>
    </main>

    <footer>
        <div class="logo-footer">
            <img src="../assets/IPJ_Logo_Login.jpg" alt="Logo Igreja Presbiteriana de Joinville">
        </div>

        <div class="social-footer">
            <h2>Siga-nos</h2>
            <div class="icons-social">
                <a href="https://www.facebook.com/ipjoinville/?locale=pt_BR" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.instagram.com/ipb.joinville/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://www.youtube.com/@IgrejaPresbiterianadeJoinville" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
        </div>

        <div class="nav-footer">
            <ul class="nav-links-footer">
                <li><a href="/home">Home</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/relatorios">Relatórios</a></li>
                <li><a href="/membros">Membros</a></li>
                <li><a href="/sociedade-interna">Sociedades</a></li>
            </ul>
        </div>
    </footer>

</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="../scripts/CadastroMembro.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</html>