<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home IPJ</title>
    <link rel="stylesheet" href="../styles/Home.css">
</head>
<body>
    <header>
        <a href="/home"><img class="logo-ipb" src="../assets/ipj.png" alt="IPB logo"></a>
        <nav class="nav-header">
            <a href="/home">Home</a>
            <a href="/cadastro">Cadastro</a>
            <a href="/membros">Membros</a>
            <a href="/relatorios">Relatórios</a>
            <a href="/sociedades">Sociedades Internas</a>
            <a href="/"><ion-icon name="exit-outline"></a>
        </nav>
    </header>

    <main>
        <div class="cadastro-membro">
            <h1>Cadastro de membros</h1>
            <p>Cadastre novos membros aqui</p>
            <a href="cadastro"><button>Cadastrar</button></a>
        </div>

        <div class="relatorios">
            <aside class="relatorios-texto">
                <h1>Acompanhe os relatórios</h1>
                <p class="relatorios-p">Veja as informações mais detalhadas na área de relatórios</p>
                <button class="relatorios-btn">Relatórios</button>
            </aside>
            <aside class="relatorios-img">
                <img src="../assets/Imagem_Relatorio_Home.jpg" alt="Imagem relatorios">
            </aside>
        </div>

        <div class="ver-membros">
            <div class="conteudo-ver-membros">
                <h1>Visualizar membros da igreja</h1>
                <button>Ver membros</button>
            </div>
            
        </div>

        <div class="sociedades">
            <aside class="sociedades-texto">
                <h1>Sociedades Internas</h1>
                <p class="sociedades-p">Cadastre e visualize os membros nas sociedades internas</p>
                <button class="sociedades-btn">Acompanhar</button>
            </aside>
            <aside class="sociedades-img">
                <img src="../assets/Imagem_Sociedades_Home.jpg" alt="Imagem sociedades internas">
            </aside>
        </div>
    </main>

    <footer>
        <div class="logo-footer">
            <img src="../assets/IPJ_Logo_Login.jpg" alt="Logo Igreja Presbiteriana de Joinville">
        </div>

        <div class="social-footer">
            <h2>Siga-nos</h2>
            <div class="icons-social">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
        </div>

            <div class="nav-footer">
                <ul class="nav-links-footer">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastro</a></li>
                    <li><a href="#">Relatórios</a></li>
                    <li><a href="#">Membros</a></li>
                </ul>
            </div>

    </footer>
    
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>