<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home IPJ</title>
    <link rel="stylesheet" href="../styles/Home.css">
</head>
<body>
    <div id="header-placeholder"></div>

    

    <main>
        <div class="cadastro-membro">
            <h1>Cadastro de membros</h1>
            <p>Cadastre novos membros aqui</p>
            <a href="#"><button>Cadastrar</button></a>
        </div>

        <div class="relatorios">
            <aside class="relatorios-texto">
                <h1>Acompanhe os relatórios</h1>
                <p class="relatorios-p">Veja as informações mais detalhadas na área de relatórios</p>
                <button class="relatorios-btn">Relatórios</button>
            </aside>
            <aside class="relatorios-img">
                <img src="../assets/Imagem_Relatorio_Home.jpg" alt="Imagem relatorios">
            </aside>
        </div>

        <div class="ver-membros">
            <div class="conteudo-ver-membros">
                <h1>Visualizar membros da igreja</h1>
                <button>Ver membros</button>
            </div>
            
        </div>

        <div class="sociedades">
            <aside class="sociedades-texto">
                <h1>Sociedades Internas</h1>
                <p class="sociedades-p">Cadastre e visualize os membros nas sociedades internas</p>
                <button class="sociedades-btn">Acompanhar</button>
            </aside>
            <aside class="sociedades-img">
                <img src="../assets/Imagem_Sociedades_Home.jpg" alt="Imagem sociedades internas">
            </aside>
        </div>
    </main>

    <div id="footer-placeholder"></div>

    
</body>
<script src="../../../public/js/Header.js"></script>
<script src="../../../public/js/Footer.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>