<!DOCTYPE html>
<html lang="en">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-DZSoUEi+M1Fwvz8pOk41AJM9CZhylqLexvG6FvCO5q4oX5foB5F9B1RSf4jjLFui" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/views/styles/Login.css">
    <title>Home IPJ</title>
</head>

<body>
    <img class="img-esquerda" src="/app/views/assets/IPJ_Logo_Login.jpg" alt="">
    <div class="img-dir">
        <img class="img-direita" src="/app/views/assets/Igreja_Fundo_Login.jpg" alt="">
        <div class="form-container">
            <p class="title">Bem vindo de volta!</p>
            <form class="form">
                <div class="input-container">
                    <i class="fa-regular fa-user" style="color: #1d5a40;"></i>
                    <input type="login" class="input" placeholder="Login">                    
                </div>
                <input type="password" class="input" placeholder="Senha">
                <button class="form-btn">Entrar</button>
            </form>
            <div class="buttons-container">
            </div>
        </div>
    </div>
</body>

</html>