<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Membro IPJ</title>
    <link rel="stylesheet" href="../styles/CadastroMembro.css">
</head>
<body>

    <header>
        <a href="#"><img class="logo-ipb" src="../assets/ipj.png" alt="IPB logo"></a>
        <nav class="nav-header">
            <a href="#">Home</a>
            <a href="#">Cadastro</a>
            <a href="#">Membros</a>
            <a href="#">Relatórios</a>
            <a href="#">Sociedades Internas</a>
            <a href="#"><ion-icon name="exit-outline"></a>
        </nav>
    </header>

    <main>
        <aside class="filter-section">
            <div class="text-filtro">
                <ion-icon name="filter"></ion-icon>
                <h2>Filtros</h2>
            </div>
            <div class="filtros">
                <div class="dado-nome">
                    <h3>Nome:</h3>
                    <input type="text" id="nome" placeholder="Digite o nome do membro...">
                </div>
                <div class="dado-telefone">
                    <h3>Telefone:</h3>
                    <input type="tel" id="telefone" placeholder="Digite seu telefone...">
                </div>
                <div class="dado-telefone">
                    <h3>Nome do pai:</h3>
                    <input type="text" id="nome" placeholder="Digite o nome do pai...">
                </div>
                <div>
                    <select name="" id=""></select>
                </div>
                
            </div>
        </aside>
    </main>

    <footer>
        <div class="logo-footer">
            <img src="../assets/IPJ_Logo_Login.jpg" alt="Logo Igreja Presbiteriana de Joinville">
        </div>

        <div class="social-footer">
            <h2>Siga-nos</h2>
            <div class="icons-social">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
        </div>

            <div class="nav-footer">
                <ul class="nav-links-footer">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastro</a></li>
                    <li><a href="#">Relatórios</a></li>
                    <li><a href="#">Membros</a></li>
                </ul>
            </div>

    </footer>
    
</body>
<script src="../scripts/CadastroMembro.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>