<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sociedades Internas IPJ</title>
    <link rel="stylesheet" href="../styles/Sociedade.css">
</head>
<body>
    <header>
        <a href="#"><img class="logo-ipb" src="../assets/ipj.png" alt="IPB logo"></a>
        <nav class="nav-header">
            <a href="#">Home</a>
            <a href="#">Cadastro</a>
            <a href="#">Membros</a>
            <a href="#">Relatórios</a>
            <a href="#">Sociedades Internas</a>
            <a href="#"><ion-icon name="exit-outline"></a>
        </nav>
    </header>
    <div class="titulo-page">
        <h1>Sociedades Internas</h1>
    </div>

    <main class="container">
        <button class="sociedade card">
            <div class="campo-img">
                <img class="campo-foto-card" src="../assets/Ellipse.png" alt="">
                <img class="campo-foto-card-white" src="../assets/Ellipse white.png" alt="">
            </div>
            <div class="text-card">
                <h2>Cadastre uma nova sociedade</h2>
                <ion-icon name="add-outline"></ion-icon>
            </div>    
        </button>
        
    </main>

    <footer>
        <div class="logo-footer">
            <img src="../assets/IPJ_Logo_Login.jpg" alt="Logo Igreja Presbiteriana de Joinville">
        </div>

        <div class="social-footer">
            <h2>Siga-nos</h2>
            <div class="icons-social">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
        </div>

            <div class="nav-footer">
                <ul class="nav-links-footer">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastro</a></li>
                    <li><a href="#">Relatórios</a></li>
                    <li><a href="#">Membros</a></li>
                </ul>
            </div>

    </footer>
    
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="../scripts/Sociedade.js"></script>
</html>