@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 15px 150px;
    gap: 45px;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

header {
    display: flex;
    max-height: 149px;
    background-color: white;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 30px;
}

.logo-ipb {
    width: 98px;
    height: 85px;
    margin-right: 10px;
}

.nav-header {
    font-size: 18px;
    display: flex;
    gap: 45px;
    margin-right: 10px;
}

.nav-header a {
    color: #818181;
}

nav a ion-icon {
    color: #015B40;
    font-size: 25px;
}

.titulo-page {
    background-color: #015B40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.titulo-page h1 {
    color: white;
}

/* main */

#sociedadeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.form {
    flex-direction: column;
    display: flex;
    margin: 20px auto;
    width: 50vh;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.select-photo {
    display: flex;
    background-color: #E7E7E7;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 5%;
    border-radius: 75%;
    margin: 20px auto;
    cursor: pointer;
}

.titulo-form {
    display: flex;
    margin: auto;
    font-size: 30px;
    color: #015B40;
    font-weight: 650;
    margin-bottom: 30px;
}

.input-name-sociedade {
    border-radius: 20px;
    border: 1px;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 10px 15px;
    width: 100%;
    background-color: #E7E7E7;
    font-size: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-btn {
    padding: 10px 15px;
    width: 50%;
    font-size: 16px;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: #015B40;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color 0.3s ease;
}

.form-btn:hover {
    background-color: #037955;
}

/* footer */
footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #015B40;
    margin-top: 30px;
}

.logo-footer img {
    position: relative;
    left: 55px;
    height: 292px;
    width: 310px;
}

.social-footer {
    height: 292px;
    width: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: white;
}

.nav-links-footer {
    height: 292px;
    width: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.nav-links-footer li a {
    color: white;
    font-weight: 700;
    font-size: 23px;
    text-align: right;
}

.nav-footer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.icons-social ion-icon {
    color: white;
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
