@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    gap: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

a{
    text-decoration: none;
}

h1{
    font-weight: 700;
    font-size: 40px;
}

.titulo-page{
    background-color: #015B40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.titulo-page h1{
    color: white;
}

/* main */

.container h2{
    color: #B5B5B5;
    width: 312px;
    text-align: center;
}

.container > div {
    padding: 10px;
    height: 128px;
}

.card{
    display: flex;
    background-color: #EFEFEF;
    padding: 10px;
    height: 150px;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.card:hover{
    transform: scale(1.03);
    background-color: #0b6047;
}

.campo-img{
    margin-left: 20px;
}


.campo-foto-card{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.campo-foto-card-white{
    display: none;
}

.card:hover .campo-foto-card{
    display: none;
}

.card:hover .campo-foto-card-white{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.card-sociedade-cadastrada{
    background-color: #015B40;
}

.card-sociedade-cadastrada:hover{
    background-color: #037955;
}

.text-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: gray;
}

.text-sociedade-cadastrada h2{
    color: white;
}

.card:hover .text-card h2 {
    color: white; /* Altera a cor para branco quando há hover */
}

.text-card ion-icon{
    font-size: 32px;
    color: #B5B5B5;
    font-weight:bold;
}

.card:hover .text-card ion-icon{
    font-size: 32px;
    color:white;
    font-weight:bold;
}