<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/listStyle/ListaAniversario.css">
    <title>Lista Comungantes Sede</title>
</head>
<body>
    <header>
        <a href="/home"><img class="logo-ipb" src="../assets/ipj.png" alt="IPB logo"></a>
        <nav class="nav-header">
            <a href="/home">Home</a>
            <a href="/cadastro">Cadastro</a>
            <a href="/membros">Membros</a>
            <a href="/relatorios">Relatórios</a>
            <a href="/sociedade-interna">Sociedades Internas</a>
            <a href="/"><ion-icon name="exit-outline"></a>
        </nav>
    </header>

    <div class="titulo-page">
        <h1>Lista Comungantes Sede</h1>
    </div>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Numero de Rol</th>
                    <th>Data Nascimento</th>
                    <th>Local Residência</th>
                </tr>
            </thead>
            <tbody id="listacomunsede">
                <!-- Conteúdo será preenchido pelo JavaScript -->
            </tbody>
        </table>
    </main>

    <footer>
        <div class="logo-footer">
            <img src="../assets/IPJ_Logo_Login.jpg" alt="Logo Igreja Presbiteriana de Joinville">
        </div>

        <div class="social-footer">
            <h2>Siga-nos</h2>
            <div class="icons-social">
                <a href="https://www.facebook.com/ipjoinville/?locale=pt_BR" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.instagram.com/ipb.joinville/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://www.youtube.com/@IgrejaPresbiterianadeJoinville" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
        </div>

            <div class="nav-footer">
                <ul class="nav-links-footer">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/cadastro">Cadastro</a></li>
                    <li><a href="/relatorios">Relatórios</a></li>
                    <li><a href="/membros">Membros</a></li>
                    <li><a href="/sociedade-interna">Sociedades</a></li>
                </ul>
            </div>

    </footer>
    
</body>
<script src="../../scripts/listScript/ListaComunSede.js"></script>
</html>